body {
    background: #888;
}

.note {
    height: 150px;            /* make them 150 by 150 pixels */
    width: 150px;
    border-style: solid;      /* with solid black borders */
    background: #ffc;         /* and a bright yellow background */
    list-style: none;         /* get rid of the bullets */

    position: absolute;       /* will be positioned by setting top & left */
    padding: 15px;            /* leave some space around the text */
    box-shadow:
        5px 5px 7px rgba(33, 33, 33, .7);  /* drop shadow */
}

.note:nth-child(3n) {
    background: #ffc;
}
.note:nth-child(3n+1) {
    background: #cfc;
}
.note:nth-child(3n+2) {
    background: #f6f;
}

.note>textarea {     /* <textarea>'s that are children of a class="note" element */
    width: 100%;     /* make them as big as their container */
    height: 100%;

    resize: none;               /* no resize handle */
    background: transparent;    /* transparent */
    border: none;               /* no border */
    outline: none;              /* no outline when selected */

    font-family: 'Rock Salt', cursive;
    font-weight: bold;
    font-size: 120%;
    letter-spacing: 2px;
}

.button {
    opacity: 0.5;
    float: right;
}

.button:hover {
    opacity: 1;
}

